header {
  border-bottom: 1px solid black;
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

h1 {
  text-align: center;
}

.primary-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.shopping-cart {
  padding: 1rem;
  height: 100vh;
  max-height: 100vh;
  text-wrap: nowrap;
  top: 0;
  left: 100%;
  animation: 0.5s forwards cart-slide-in;
}

@keyframes cart-slide-in {
  0% {
    transform: translateX(0%);
  } 
  100% {
    transform: translateX(-100%);
  }
}

.closing {
  animation: 0.5s forwards cart-slide-out;
}

@keyframes cart-slide-out {
  0% {
    transform: translateX(-100%);
  } 
  100% {
    transform: translateX(0%);
  }
}

/* .shopping-cart::backdrop {
  background-color: blue;
} */

.modal-header {
  display: flex;
  gap: 1rem;
}