:root {
  --text: hsl(330, 39%, 9%);
  --background: hsl(0, 0%, 100%);
  --primary: hsl(329, 39%, 44%);
  --secondary: hsl(329, 38%, 81%);
  --accent: hsl(329, 39%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
}

